@charset "utf-8";

/* medium sizze */
@media screen and (max-width:760px) {
    #wrap {
        /* width만 바꿔도 비율에 맞게 조절된다. width를 %로 줘서 그렇다*/
        width: auto; 
        margin: 0 auto;
    }
    #footer .btm_menu {
        float:none;
        /* 플롯 해제를 해야 하려면..! */
        margin-bottom: 5px;
    }
}

/* small size - 모바일은 320 480으로 하면 무리가 없다. 가로보기까지 모바일로 하겠다라는 뜻 */
@media screen and (max-width:480px) {
    body,h1,h2,h3{    
        /* 차이가 있지만 보통 모바일 14~16px 사이를 지정한다 */
        font-size: 14px;
    }
    #header {
        /* position: relative;  */
        padding-bottom: 0px; 
        /* 우선 순위를 높여주어야 적용이 된다. 좋은 방법은 아니지만 연습을 위해서 */
        background-image: none !important;
    }
    #header .logo {
        position: static;
        /* h1이라서 텍스트 정렬만 해도 가운데 정렬이 된다. */
        
        text-align: center;
        background-color: #272727;
    }
    #header .logo a {
        display: block;
        padding: 5px 0;
    } 
    #header .lnb {
        *zoom:1; padding-left: 0;
    }
    #header .lnb li {
        float: none;
    }
    #header .lnb li a {
        background-image: none !important;
        display: block; 
        height: 40px;
        width: 100% !important;
        text-decoration: none;
        text-align: center;
        background-color: #444; 
        text-indent: 0em;
        
        border-bottom: 1px solid #555;

        font: bold 1.2em/40px 'Malgun Gothic', sans-serif;
        color: #999;
        text-transform: uppercase;
        /* line-height: 40px;
        font-size: 1.2em; */
    }
    #header .lnb li a.on,
    #header .lnb li a:hover {
        background-color: #666;
        border-bottom-color: #777;
        color: #fff;
    }
    #container #content {
        float: none; width: 100%;
        padding-bottom: 25px;
        border-bottom: 1px solid #ccc;
    }
    #container #aside {
        float: none; width: 100%;
    }
    #container #aside .inn {
        padding-left: 25px;
    }

}