@charset "utf-8";
/* reset */

html,body,dl,dt,dd,h1,h2,h3,ul,li,p,address{margin:0;padding:0;}
body,h1,h2,h3{font-family: Arial, Helvetica, sans-serif;font-size: 12px;}
li {list-style: none;}
img,fieldset {border: 0;}
/* 이미지를 다른 요소로 감싸게 되면 이미지와 해당 요소 사이에 간격이 생기는데 이를 잡아주기 위해서 사용한다. 그래야 공백이 사라진다.  */
img {vertical-align: top;}
address,em {font-style: normal;}
hr {display: none;}
/* 요소가 사라지는 데 괜찮은가..? */
/* 접근성을 고려했을 때 보이지는 않지만 필요한 요소 */
.blind {display: block; position: absolute; left:0; top:-9999em;}
.skip-nav a {display: block; position: absolute;left: 0;top:-9999em; z-index: 9999;width: 100%; background-color: navy; color: #eee;text-align:center;line-height: 2.4em;}
.skip-nav a:focus {top: 0;}

/* style */
/* 크로스 브라우징을 위해서 CSS3 속성을 사용하지 않는다. */
#wrap {width: 760px; margin: 0 auto}

#header {position: relative; padding-bottom: 150px; background: no-repeat 0 100%} 
/*
이미지가 padding bottom 영역이 끝나는 지점에 맞춰진다. 
*/
.about #header {background-image: url(../img/visual_about.jpg)}
.contact #header {background-image: url(../img/visual_contact.jpg)}
.portfolio #header {background-image: url(../img/visual_portfolio.jpg)}
.services #header {background-image: url(../img/visual_services.jpg)}

/* 요소를 건너띄어서 갈 때는 앱솔루트 */
#header .logo {position: absolute; right: 26px; top: 106px;}
.intro #header .logo { position: static; }
/* width가 없으면 padding을 지정하여 이동시킨다. 메뉴바를 만들고 색상을 지정할 수 있으므로..! */
#header .lnb{*zoom:1; padding-left: 11px;}
#header .lnb:after{display:block; content:''; clear: both;}
/* 플롯 해제는 감싸는 영역의 제일 뒤쪽에다가 한다 */
#header .lnb li {float: left;}
/* 반복이 안되고, 위치가 어떠하다는 건 공통적인 부분이므로 넣어준다.  */
#header .lnb li a {display: block; height: 50px;background: no-repeat 0 0; text-indent: -9999em;}
#header .lnb li.mm1 a {width: 71px; background-image: url(../img/m_about.gif)}
#header .lnb li.mm2 a {width: 84px; background-image: url(../img/m_services.gif)}
#header .lnb li.mm3 a {width: 95px; background-image: url(../img/m_portfolio.gif)}
#header .lnb li.mm4 a {width: 106px; background-image: url(../img/m_contact.gif)}
/* 마우스 오버하면 이미지의 위치가 조정되는 속성 */
#header .lnb li a:hover {background-position: 0 -50px;}
#header .lnb li a.on, /* a.on과 a.hover가 우선순위가 같을 수 있으므로 이를 조정하기 위해서 작성 */
#header .lnb li a.on:hover {background-position: 0 -100px;}

#container {*zoom: 1; padding-bottom: 20px;}
#container:after {content: ''; display: block; clear: both;}
#container #content {float: left; width: 63%; color: #666; line-height: 1.3;}
#container #content .inn {padding: 25px 25px 0;}
#container #content h2,p,address {margin-bottom: 12px}
#container #content h2 {}
#container #content h2 img {}
#container #content p {}
#container #content p strong {}
#container #content p a {}
#container #content address {}
#container #content address p {margin-bottom: 0;}
#container #content address p em {}

/* index 페이지 텍스트 정렬 width값을 지정되기 상태 이전으로 돌리려면 auto를 넣는다. */
.intro #container #content { float: none; width: auto; text-align: center; }

/* 플롯을 정할 때 텍스트가 있다면 width를 꼭 넣어준다. */
#container #aside {float: right; width: 37%; color: #666; line-height: 1.3;}
#container #aside .inn {padding: 25px 25px 0 0;}
#container #aside h2 {}
#container #aside p {}

/* 접근성을 맞추기 위해서 색은 글자색과 배경색의 4.5:1 정도(3.5:1일수도 정확한 건 찾아보기)의 명도대비를 주어야 한다. */
#footer {border-top: 1px solid #ccc; padding: 25px 25px 35px; *zoom:1; color: #999; font-size: .9em; line-height: 1.7;}
#footer:after {content: ''; display: block; clear: both;}
#footer a {color: #aaa; text-decoration: none;}
#footer a:hover {color: navy;}
#footer .btm_menu {float: right;}
#footer .btm_menu dt {}
#footer .btm_menu dt, dd {display: inline;}

#footer .copy {float: left;}
#footer .copy a {}